*{
    margin: 0;
    padding: 0;

}

#logo{
    width:5%;
    height: 5%;
}

nav{
    width: auto;
    height: 500px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 2px 3px 1.5px 0;
    background-color:rgb(255, 255, 180);

}

.left-menu{
    
    gap: 5px;
   
}

.left-menu a{
    text-decoration: none;
    display: flex;

}

